@charset "utf-8";
.background {
	background-color: #247CE6;
}
.img-responsive{
	border-width: 20%;
	border-color: #0D57BA;
}
#Aquarium, #PetShop, #Classes {
	margin-left: auto;
}
#Aquarium, #logo, #AboutUs{
	margin-top: 10px;
}
#AboutUs, #Catalog{
	margin-left: -15px;
	margin-right:auto;
}
#logo {
	margin-left: auto;
	margin-right:auto;
}
#Catalog {
	margin-top: 10px;
}
#PetShop, #logo, #Catalog{
	margin-bottom: 10px;
}
#Classes{
	margin-bottom: 10px;
}
.item{
	max-height: 220px;
}